body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#game-container {
    text-align: center;
}

#heart-bar {
    display: inline-block;
    height: 50px;
    background-color: aquamarine;
    background-size: cover;
}

#status {
    margin-top: 20px;
    font-size: 18px;
}
 