:root {
    --heart-size: 5vh; /* Initial size using CSS variable */
    --heart-width: 7vh;
    --heart-height: 5vh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #362f2f;
    overflow: hidden;
}

#status {
    margin-top: 20px;
    font-size: 18px;
}

.heart {
    height: var(--heart-height);
    width: var(--heart-width);
    background-image: url(./heart/kissing-lips.svg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    position: relative;
    animation: heartbeat 1s infinite;
    display: flex;
}

.heart::before, 
.heart::after {
    height: var(--heart-height);
    width: var(--heart-width);
    background-image: url(./heart/kissing-lips.svg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    border-radius: 50%;
    position: relative;
}

@keyframes heartbeat {
    0% { transform: scale(1) }
    25% { transform: scale(1.25) }
    45% { transform: scale(1.5) }
}

#progress {
    text-align: center;
    margin: auto;
}

body {
    background-color: #fee440;
}
svg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.links {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: black;
    margin-left: 1em;
}
a:hover {
    text-decoration: underline;
}
a img.icon {
    display: inline-block;
    height: 1em;
    margin: 0 0 -0.1em 0.3em;
}